.header
	.logo
		p SH
	.main-menu
		ul
			each val in ['Woman', 'Man', 'Kids', 'Comming Soon', 'About']
				li
					a.text(href="/" target="_blank")=val
	.login-form
		.login-menu
			p 
				img(src='img/user.png') 
				a(href='login') Log In
				img(src='img/basket.png') 
				a(href='basket') Basket (0)
		.search
			img(src='img/search.png')
